<div ng-controller="NavbarController as vm">
  <md-toolbar class="desktop">
    <div class="md-toolbar-tools" ng-style="{'background-color': vm.$storage.navbarColor }">
      <h2>
        <span>Heading</span>
      </h2>
      <span flex></span>
      <md-button class="md-icon-button" aria-label="User">
        <md-tooltip>User</md-tooltip>
        <img src="images/user.png" style="width:24px;height:24px;"/>
      </md-button>
      <md-button class="md-icon-button" aria-label="Messages" ng-click="vm.toggleRight()"
                 ng-hide="vm.isOpenRight()">
        <md-tooltip>Messages</md-tooltip>
        <img src="images/messages.png" style="width:24px;height:24px;"/>
      </md-button>
    </div>
  </md-toolbar>
  <md-toolbar class="tablet">
    <div class="md-toolbar-tools" ng-style="{'background-color': vm.$storage.navbarColor }">
      <md-button class="md-icon-button" aria-label="Icon">
        <md-tooltip>User</md-tooltip>
        <md-icon class="md-default-theme" md-svg-icon="images/fb.svg"></md-icon>
      </md-button>
      <h2>
        <span>Heading</span>
      </h2>
      <span flex></span>
      <md-button class="md-icon-button" aria-label="User">
        <md-tooltip>User</md-tooltip>
        <img src="images/user.png" style="width:24px;height:24px;"/>
      </md-button>
      <md-button class="md-icon-button" aria-label="Messages" ng-click="vm.toggleRight()"
                 ng-hide="vm.isOpenRight()">
        <md-tooltip>Messages</md-tooltip>
        <img src="images/messages.png" style="width:24px;height:24px;"/>
      </md-button>
    </div>
  </md-toolbar>
  <md-toolbar class="mobile">
    <div class="md-toolbar-tools" ng-style="{'background-color': vm.$storage.navbarColor }">
      <md-button class="md-icon-button" aria-label="Icon">
        <md-tooltip>Icon</md-tooltip>
        <md-icon class="md-default-theme" md-svg-icon="images/fb.svg"></md-icon>
      </md-button>
      <h2>
        <span>Heading</span>
      </h2>
      <span flex></span>
      <md-button class="md-icon-button" aria-label="User">
        <md-tooltip>User</md-tooltip>
        <img src="images/user.png" style="width:24px;height:24px;"/>
      </md-button>
      <md-button class="md-icon-button" aria-label="Messages" ng-click="vm.toggleRight()"
                 ng-hide="vm.isOpenRight()">
        <md-tooltip>Messages</md-tooltip>
        <img src="images/messages.png" style="width:24px;height:24px;"/>
      </md-button>
    </div>
  </md-toolbar>
</div>